$small: "only screen and (max-width: 768px)";
$normal: "only screen and (min-width: 769px)";

$h2__fontSize: 24px;
$h3__fontSize: 21px;

$pc__w: 1080px;
$g__fontSize: 16px;

$g__bgc: #fdfdfd;
$g__fontColor: #020202;

$g__color-kids: #88C23F;
$g__color-future: #E48E13;

$header_comming__h: 80px;

$header_comming__bgc: #4D4D4D;
$header_comming__fontColor: #fdfdfd;
$header_comming__fontSize: 28px;
$header_comming-em__fontSize: 48px;
$header_recruit__fontSize: 16px;

$header_buttons__bbColor: #959595;
$header_buttons__h: 70px;

$header_buttons-lets__fontSize: 26px;

$header_button__bgc: #E2E2E2;

$about_column__w: 400px;
$about_column__mr: 100px;

$event_image__w: 400px;

$info__fontSize: 14px;
$info-head__fontSize: 22px;
$info_table-main__w: 450px;

$contact__bgc: #959595;
$contact__fontColor: #fdfdfd;
$contact__fontSize: 14px;
$contact_button__bgc: #4D4D4D;

$footer__bgc: #4D4D4D;
$footer__fontColor: #fdfdfd;
$footer__fontSize: 12px;

@mixin clearfix {
  &:after{
    clear: both;
    content: "";
    display: block;
  }
}
