/* setting */
/* base */
/*! sanitize.css v4.0.0 | CC0 License | github.com/10up/sanitize.css */
/* Display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}

/* Elements of HTML (https://www.w3.org/TR/html5/semantics.html)
   ========================================================================== */
/**
 * 1. Remove repeating backgrounds in all browsers (opinionated).
 * 2. Add box sizing inheritence in all browsers (opinionated).
 */
*,
::before,
::after {
  background-repeat: no-repeat;
  /* 1 */
  box-sizing: inherit
  /* 2 */
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritence in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit
  /* 2 */
}

/**
 * 1. Add border box sizing in all browsers (opinionated).
 * 2. Add the default cursor in all browsers (opinionated).
 * 3. Add a flattened line height in all browsers (opinionated).
 * 4. Prevent font size adjustments after orientation changes in IE and iOS.
 */
html {
  box-sizing: border-box;
  /* 1 */
  cursor: default;
  /* 2 */
  font-family: sans-serif;
  /* 3 */
  line-height: 1.5;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 4 */
  -webkit-text-size-adjust: 100%
  /* 5 */
}

/* Sections (https://www.w3.org/TR/html5/sections.html)
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Correct the font sizes and margins on `h1` elements within
 * `section` and `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: .67em 0;
}

/* Grouping content (https://www.w3.org/TR/html5/grouping-content.html)
   ========================================================================== */
/**
 * 1. Correct font sizing inheritance and scaling in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em
  /* 2 */
}

/**
 * 1. Correct the height in Firefox.
 * 2. Add visible overflow in Edge and IE.
 */
hr {
  height: 0;
  /* 1 */
  overflow: visible
  /* 2 */
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Add a bordered underline effect in all browsers.
 * 2. Remove text decoration in Firefox 40+.
 */
abbr[title] {
  border-bottom: 1px dotted;
  /* 1 */
  text-decoration: none
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct colors in IE 9-.
 */
mark {
  background-color: #ffff00;
  color: #000000;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Correct the font size in all browsers.
 */
small {
  font-size: 83.3333%;
}

/**
 * Change the positioning on superscript and subscript elements
 * in all browsers (opinionated).
 * 1. Correct the font size in all browsers.
 */
sub,
sup {
  font-size: 83.3333%;
  /* 1 */
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

/*
 * Remove the text shadow on text selections (opinionated).
 * 1. Restore the coloring undone by defining the text shadow (opinionated).
 */
::-moz-selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000000;
  /* 1 */
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000000;
  /* 1 */
  text-shadow: none;
}

/* Embedded content (https://www.w3.org/TR/html5/embedded-content-0.html)
   ========================================================================== */
/*
 * Change the alignment on media elements in all browers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg {
  fill: currentColor;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Links (https://www.w3.org/TR/html5/links.html#links)
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove the gaps in underlines in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects
  /* 2 */
}

/**
 * Remove the outline when hovering in all browsers (opinionated.
 */
:hover {
  outline-width: 0;
}

/* Tabular data (https://www.w3.org/TR/html5/tabular-data.html)
   ========================================================================== */
/*
 * Remove border spacing in all browsers (opinionated).
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* transform-style:  (https://www.w3.org/TR/html5/forms.html)
   ========================================================================== */
/**
 * 1. Remove the default styling in all browsers (opinionated).
 * 3. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  background-color: transparent;
  /* 1 */
  border-style: none;
  /* 1 */
  color: inherit;
  /* 1 */
  font-size: 1em;
  /* 1 */
  margin: 0
  /* 3 */
}

/**
 * Correct the overflow in IE.
 * 1. Correct the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance in Edge, Firefox, and IE.
 * 1. Remove the inheritance in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent the WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Correct the focus styles unset by the previous rule.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the border, margin, and padding in all browsers.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 2 */
  white-space: normal
  /* 1 */
}

/**
 * 1. Remove the vertical scrollbar in IE.
 * 2. Change the resize direction on textareas in all browsers (opinionated).
 */
textarea {
  overflow: auto;
  /* 1 */
  resize: vertical
  /* 2 */
}

/**
 * Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  padding: 0;
}

/**
 * Correct the cursor style on increment and decrement buttons in Chrome.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari for OS X.
 */
::-webkit-search-cancel-button,
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style on placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit
  /* 2 */
}

/* WAI-ARIA (https://www.w3.org/TR/html5/dom.html#wai-aria)
   ========================================================================== */
/**
 * Change the cursor on busy elements (opinionated).
 */
[aria-busy="true"] {
  cursor: progress;
}

/*
 * Change the cursor on control elements (opinionated).
 */
[aria-controls] {
  cursor: pointer;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements (opinionated).
 */
[aria-disabled] {
  cursor: default;
}

/* User interaction (https://www.w3.org/TR/html5/editing.html)
   ========================================================================== */
/*
 * Remove the tapping delay on clickable elements (opinionated).
 * 1. Remove the tapping delay in IE 10.
 */
a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  /* 1 */
  touch-action: manipulation;
}

/*
 * Change the display on visually hidden accessible elements (opinionated).
 */
[hidden][aria-hidden="false"] {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute;
}

[hidden][aria-hidden="false"]:focus {
  clip: auto;
}

html {
  background-color: #fdfdfd;
  color: #020202;
  font-family: 'Noto Sans Japanese', sans-serif;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: .2em;
}

h2 {
  font-size: 24px;
  margin: 0 auto 50px auto;
  text-decoration: underline;
  width: 1080px;
}

/* layout */
header {
  min-width: 1080px;
}

.header_comming {
  height: 80px;
  margin: 0;
  width: 100%;
}

.header_logos:after {
  clear: both;
  content: "";
  display: block;
}

.header_logo {
  float: left;
  width: 50%;
}

.header_logoImage {
  width: 540px;
}

.header_logo-kids {
  text-align: right;
}

.header_buttons {
  border-bottom: #959595 3px solid;
  height: 70px;
  position: relative;
  text-align: center;
  width: 100%;
}
.header_buttons:after {
  clear: both;
  content: "";
  display: block;
}

.header_buttons-lets {
  margin-bottom: 0;
  margin-left: calc(50% - 208px / 2);
  margin-right: 0;
  margin-top: 14.5px;
  position: absolute;
}

.header_button {
  float: left;
  height: 70px;
  width: 50%;
}

.header_buttonInner {
  border-bottom: #959595 3px solid;
  display: block;
  height: 70px;
  width: 540px;
}

.header_buttonInner-first {
  margin: 0 0 0 auto;
}

.header_buttonImage {
  margin: 19px 0 0 0;
}

#about {
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
  width: 1080px;
}
#about:after {
  clear: both;
  content: "";
  display: block;
}

.about_column {
  float: left;
  margin-left: 90px;
  margin-right: 10px;
  width: 400px;
}

.about_logo,
.about_map {
  display: block;
  margin: 0 auto 50px auto;
}

.about_info {
  margin-bottom: 50px;
}

.about_introImage {
  display: block;
  height: auto;
  margin-bottom: 30px;
  width: 400px;
}

#movie {
  font-weight: bold;
  margin-bottom: 100px;
  min-width: 1080px;
  text-align: center;
}

.movie_youtube {
  height: 607.5px;
  width: 1080px;
}

#events {
  text-align: center;
}

.event {
  margin: 0 auto 70px auto;
  text-align: left;
  width: 1080px;
}
.event:after {
  clear: both;
  content: "";
  display: block;
}

.event_title {
  margin: 0 0 5px 0;
}

.event_image {
  float: left;
  height: auto;
  margin-right: 50px;
  width: 400px;
}

.event_detail {
  float: left;
  margin: 10px 0;
}

.event_info-left {
  margin-right: 50px;
}

.event_intro {
  float: left;
  margin: 10px 0;
  width: 630px;
}

#info {
  font-size: 14px;
  margin: 0 auto 50px auto;
  text-align: center;
  width: 1080px;
}
#info:after {
  clear: both;
  content: "";
  display: block;
}

.info_table {
  line-height: 50px;
  margin-bottom: 70px;
  text-align: left;
}
.info_table tr {
  border-bottom: 1px solid;
}

.info_table-head {
  width: 180px;
}

.info_table-kids,
.info_table-future {
  width: 450px;
}

.info_map {
  float: left;
  height: auto;
  margin-right: 25px;
  width: 440px;
}

#access {
  margin-top: 75px;
}

.info_accessTable {
  text-align: left;
  letter-spacing: 0em;
}

.info_accessIcon {
  margin: 0 10px;
}

.info_accessTableHead {
  margin: 0 10px;
}

#snsButton {
  margin: 0 auto 30px auto;
  width: 1080px;
}
#snsButton:after {
  clear: both;
  content: "";
  display: block;
}

.g-snsButton {
  float: right;
  height: 30px;
  margin-right: 30px;
  width: auto;
}

#contact {
  background-color: #959595;
  color: #fdfdfd;
  font-size: 14px;
  line-height: 40px;
  min-width: 1080px;
  padding: 25px;
  padding-bottom: 50px;
  width: 100%;
}

.contact_inner {
  margin: 5px auto;
  max-width: 1080px;
}

.contact_title {
  border-bottom: 1px solid #fdfdfd;
}

.contact_formTable {
  width: 95%;
}
.contact_formTable tr {
  margin-bottom: 10px;
}
.contact_formTable td {
  vertical-align: top;
}

.contact_inputForm {
  margin-bottom: 15px;
  width: 55%;
}

.contact_inputForm-long {
  height: 120px;
  width: 98%;
}

.contact_table-head {
  width: 170px;
}

footer {
  background-color: #4D4D4D;
  color: #fdfdfd;
  font-size: 12px;
  line-height: 1em;
  min-width: pc__w;
  width: 100%;
}

.footer_inner {
  margin: -10px auto;
  padding: 10px;
  width: 1080px;
  position: relative;
}

.footer_text-copyright {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* module */
.header_comming {
  background-color: #4D4D4D;
  color: #fdfdfd;
  font-size: 28px;
  font-weight: normal;
  text-align: center;
}

.header_comming-em {
  font-size: 48px;
}

.header_logo-kids {
  background-color: #88C23F;
}

.header_logo-future {
  background-color: #E48E13;
}

.header_buttons-lets {
  font-size: 26px;
  font-weight: 100;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header_buttonInner {
  background-color: #E2E2E2;
}
.header_buttonInner:hover {
  background-color: #cdcdcd;
}

.info_table-kids {
  color: #88C23F;
  font-size: 22px;
}

.info_table-future {
  color: #E48E13;
  font-size: 22px;
}

.contact_inputForm {
  background-color: #fdfdfd;
  border-radius: 3px;
  box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
  color: #020202;
  font-size: 1.3em;
  padding: 7px;
}

.contact_button {
  background-color: #4D4D4D;
  border-radius: 5px;
  cursor: pointer;
  padding: 15px 25px;
}
.contact_button:hover {
  background-color: #717171;
}

.contact-spamBlock {
  display: none;
}
