header{
  min-width: $pc__w;
  @include smallW;
  @media #{$small} {
    min-width: 100%;
  }
}

.header_top{
  margin: 0 auto;
  padding: 20px 20px 0 0;
  text-align: right;
  width: $pc__w;
  @include smallW;
  @media #{$small} {
    padding: 10px 0;
    text-align: center;
    @include clearfix;
  }
}

.header_comming{
  height: $header_comming__h;
  margin: 0;
  width: 100%;
  @media #{$small} {
    padding-top: 10px;
  }
}

#logos{
  @include clearfix;
  min-width: $pc__w;
  @media #{$small} {
    min-width: 100%;
  }
}

.header_logo{
  float: left;
  width: 50%;
  @include smallW;
  @media #{$small} {
    float: none;
  }
}

.header_logoImage{
  width: $pc__w / 2;
  @include smallW;
}

.header_logo-kids{
  text-align: right;
}

#comming{
  height: 100px;
  font-size: $header_comming__fontSize;
  line-height: 200px;
  text-align: center;
}

#about{
  margin:{
    top: 0;
    right: auto;
    bottom: 100px;
    left: auto;
  }
  width: $pc__w;
  @include smallW;
  @include clearfix;
}

.about_column{
  float: left;
  width: $pc__w / 2;
  @include smallW;
  @media #{$small} {
    float: none;
  }
}

.about_logo,
.about_map{
  display: block;
  margin: 0 auto 50px auto;
}

.about_info{
  font-size: $about__fontSize;
  padding: 0 50px;
  margin: 50px 0;
  @media #{$small} {
    padding: 0 20px;
  }
}

.about_intro{
  display: block;
  margin-bottom: 10px;
  position: relative;
  width: $about_intro__w;
  @include aspect34($about_intro__w);
  @include smallW;
  @media #{$small} {
    height: 56.25vw; //ignore coding rule
  }
}

.about_introImage{
  bottom: 0;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.about_introTitle{
  bottom: 15px;
  color: $about_intro__fontColor;
  left: 20px;
  margin: 0;
  position: absolute;
  z-index: 1;
}

#logoApp,
#movie{
  margin: 0 auto 100px auto;
  width: $pc__w;
  @include smallW;
  @media #{$small} {
    padding: 0 20px;
  }
}

.logoApp_example{
  width: $pc__w;
  @include smallW;
  @include clearfix;
}

.logoApp_exampleTable{
  float: left;
  height: $pc__w / 2;
  margin-bottom: 20px;
  width: $pc__w / 2;
  @include smallW;
  @media #{$small} {
    height: auto;
    margin-bottom: 0;
  }
  td{
    width: 25%;
  }
}

.logoApp_exampleImage{
  width: 100%;
}

.logoApp_link{
  display: block;
  margin: auto;
  text-decoration: none;
  width: 220px;
  @media #{$small} {
    margin-top: 20px;
  }
}

.logoApp_linkButton{
  border: 2px solid $g__fontColor;
  border-radius: 5px;
  color: $g__fontColor;
  margin: auto;
  padding: 15px;
  text-align: center;
  transition: .1s;
  &:hover{
    background-color: $g__fontColor;
    color: $g__bgc;
  }
}

.movie_youtube{
  height: $pc__w / 16 * 9;
  width: $pc__w;
  @include smallW;
  @media #{$small} {
    height: 56.25vw; //ignore coding rule
  }
}

#events{
  text-align: center;
}

.event{
  margin: 0 auto 100px auto;
  text-align: left;
  width: $pc__w;
  @include clearfix;
  @include smallW;
}

.event_title{
  margin: 0 0 5px 0;
  @media #{$small} {
    margin-bottom: 20px;
    padding: 0 20px;
  }
}

.event_image{
  float: left;
  height: auto;
  margin-right: 50px;
  width: $event_image__w;
  @include smallW;
  @media #{$small} {
    margin-bottom: 20px;
  }
}

.event_detail{
  float: left;
  margin: 10px 0;
  @media #{$small} {
    float: none;
    line-height: 1.5em;
    margin: 0;
    padding: 0 20px;
  }
}

.event_info-left{
  margin-right: 50px;
}

.event_intro{
  float: left;
  margin: 10px 0;
  width: $pc__w - $event_image__w - 50px;
  @include smallW;
  @media #{$small} {
    padding: 0 20px;
    margin: 20px 0;
  }
}

#recruit{
  letter-spacing: 0.1em;
  margin: -100px auto 100px auto;
  padding-top: 100px;
  width: $pc__w;
  @include clearfix;
  @include smallW;
}

.recruit_2colomn{
  float: left;
  margin: -50px 0 0 0;
  width: $pc__w / 2;
  @include smallW;
  @media #{$small} {
    margin: 10px 0;
    padding: 0 20px;
  }
}

.recruit_title{
  font-size: $recruit_title__fontSize;
  font-weight: normal;
}

.recruit_info{
  font-size: $recruit_info__fontSize;
}

#info{
  font-size: $info__fontSize;
  margin: 0 auto 100px auto;
  text-align: center;
  width: $pc__w;
  @include clearfix;
  @include smallW;
}

.info_table{
  line-height: 50px;
  text-align: left;
  tr{
    border-bottom: 1px solid;
  }
  tr.info_tableMap{
    border-bottom: hidden;
  }
  @media #{$small} {
    font-size: 1em;
    letter-spacing: .1em;
    line-height: 2.5em;
    margin: 0 10px 50px 10px;
    width: calc(100% - 20px);
    th{
      padding: 0 2%;
      width: 23%;
    }
    td{
      padding-right: 2%;
    }
  }
}

.info_table-head{
  width: $pc__w - $info_table-main__w * 2;
}

.info_table-kids,
.info_table-future{
  width: $info_table-main__w;
  @include smallW;
  @media #{$small} {
    margin-bottom: 10px;
    text-align: center;
  }
}

.info_map{
  height: auto;
  width: 100%;
}

#access{
  margin: 0 auto 100px auto;
  width: $pc__w;
  @include smallW;
  @media #{$small} {
    font-size: 14px;//ignore cording rule
  }
}

.accessTable{
  text-align: left;
  letter-spacing: 0em;
  line-height: 50px;
  width: 100%;
  @media #{$normal} {
    tr.accessTable-far{
      line-height: 100px;
    }
  }
  th{
    padding-right: 30px;
    @media #{$small} {
      //padding-left: 10px;
      //padding-right: 0;
      display: none;
    }
  }
}

.accessIcon{
  height: 30px;
  margin: 0 10px;
}

#snsButton{
  margin: 0 auto 30px auto;
  width: $pc__w;
  @include clearfix;
  @include smallW;
}

.g-snsButton{
  float: right;
  height: 30px;
  margin-right: 30px;
  width: auto;
}

#contact{
  background-color: $contact__bgc;
  color: $contact__fontColor;
  font-size: $contact__fontSize;
  line-height: 40px;
  min-width: 1080px;
  padding: 25px;
  padding-bottom: 50px;
  width: 100%;
  @include smallW;
  @media #{$small} {
    min-width: 100%;
  }
  h2{
    border-bottom: none;
    font-weight: 200;
    width: auto;
  }
  a{
    color: $contact__fontColor;
  }
}

.contact_inner{
  margin: 5px auto;
  max-width: $pc__w;
  @include smallW;
}

.contact_title{
  border-bottom: 1px solid $contact__fontColor;
}

.contact_formTable{
  width: 95%;
  @include smallW;
  tr{
    margin-bottom: 10px;
  }
  td{
    vertical-align: top;
    @include smallW;
    @media #{$small} {
      display: block;
    }
  }
}

.contact_inputForm{
  margin-bottom: 15px;
  width: 55%;
  @include smallW;
}

.contact_inputForm-long{
  height: 120px;
  width: 98%;
  @include smallW;
}

.contact_table-head{
  width: 170px;
}

footer{
  background-color: $footer__bgc;
  color: $footer__fontColor;
  font-size: $footer__fontSize;
  line-height: 1em;
  min-width: $pc__w;
  width: 100%;
  @include smallW;
  @media #{$small} {
    min-width: 100%;
  }
}

.footer_inner{
  margin: -10px auto;
  padding: 10px;
  width: $pc__w;
  position: relative;
  @include smallW;
  @media #{$small} {
    position: static;
  }
}

.footer_snsButton{
  height: 30px;
  position: absolute;
  bottom: 20px;
  right: 280px;
  @media #{$small} {
    display: block;
    height: auto;
    margin: 2em auto;
    width: 60%;

    position: static;
    bottom: 0;
    right: 0;
  }
}

.footer_text-copyright{
  position: absolute;
  bottom: 10px;
  right: 10px;
  @media #{$small} {
    position: static;
    bottom: 0;
    right: 0;
  }
}

.upload_message{
  display: block;
  margin: 100px;
  width: 1080px;
  @media #{$small} {
    width: 100%;
  }
}
