header{
  min-width: $pc__w;
}

.header_comming{
  height: $header_comming__h;
  margin: 0;
  width: 100%;
}

.header_logos{
  @include clearfix;
}

.header_logo{
  float: left;
  width: 50%;
}

.header_logoImage{
  width: $pc__w / 2;
}

.header_logo-kids{
  text-align: right;
}

.header_buttons{
  background-color: $header_button__bgc;
  border-bottom: $header_buttons__bbColor 3px solid ;
  height: $header_buttons__h;
  position: relative;
  text-align: center;
  width: 100%;
  @include clearfix;
}

.header_buttons-lets{
  margin:{
    bottom: 0;
    left: calc(50% - 208px / 2);
    right: 0;
    top: ($header_buttons__h - 39) / 2 - 1px;
  }
  position: absolute;
}

.header_button{
  float: left;
  height: $header_buttons__h;
  width: 50%;
}

.header_buttonInner{
  border-bottom: $header_buttons__bbColor 3px solid ;
  display: block;
  height: $header_buttons__h;
  width: $pc__w / 2;
}

.header_buttonInner-first{
  margin: 0 0 0 auto;
}

.header_buttonImage{
  margin: 19px 0 0 0;
}

#about{
  margin:{
    top: 50px;
    right: auto;
    bottom: 100px;
    left: auto;
  }
  width: $pc__w;
  @include clearfix;
}

.about_column{
  float: left;
  margin-left: ($pc__w - 2 * $about_column__w - $about_column__mr) / 2;
  margin-right: $about_column__mr - ($pc__w - 2 * $about_column__w - $about_column__mr) / 2;
  width: $about_column__w;
}

.about_logo,
.about_map{
  display: block;
  margin: 0 auto 50px auto;
}

.about_info{
  margin-bottom: 50px;
}

.about_introImage{
  display: block;
  height: auto;
  margin-bottom: 30px;
  width: $about_column__w;
}

#movie{
  font-weight: bold;
  margin-bottom: 100px;
  min-width: $pc__w;
  text-align: center;
}

.movie_youtube{
  height: $pc__w / 16 * 9;
  width: $pc__w;
}

#events{
  text-align: center;
}

.event{
  margin: 0 auto 70px auto;
  text-align: left;
  width: $pc__w;
  @include clearfix;
}
.event_title{
  margin: 0 0 5px 0;
}

.event_image{
  float: left;
  height: auto;
  margin-right: 50px;
  width: $event_image__w;
}

.event_detail{
  float: left;
  margin: 10px 0;
}

.event_info-left{
  margin-right: 50px;
}

.event_intro{
  float: left;
  margin: 10px 0;
  width: $pc__w - $event_image__w - 50px;
}

#info{
  font-size: $info__fontSize;
  margin: 0 auto 50px auto;
  text-align: center;
  width: $pc__w;
  @include clearfix;
}

.info_table{
  line-height: 50px;
  margin-bottom: 70px;
  text-align: left;
  tr{
    border-bottom: 1px solid;
  }
}

.info_table-head{
  width: $pc__w - $info_table-main__w * 2;
}

.info_table-kids,
.info_table-future{
  width: $info_table-main__w;
}

.info_map{
  float: left;
  height: auto;
  margin-right: 25px;
  width: 440px;
}

#access{
  margin-top: 75px;
}

.info_accessTable{
  text-align: left;
  letter-spacing: 0em;
}
.info_accessIcon{
  margin: 0 10px;
}

.info_accessTableHead{
  margin: 0 10px;
}

#snsButton{
  margin: 0 auto 30px auto;
  width: $pc__w;
  @include clearfix;
}

.g-snsButton{
  float: right;
  height: 30px;
  margin-right: 30px;
  width: auto;
}

#contact{
  background-color: $contact__bgc;
  color: $contact__fontColor;
  font-size: $contact__fontSize;
  line-height: 40px;
  min-width: 1080px;
  padding: 25px;
  padding-bottom: 50px;
  width: 100%;
}

.contact_inner{
  margin: 5px auto;
  max-width: $pc__w;
}

.contact_title{
  border-bottom: 1px solid $contact__fontColor;
}

.contact_formTable{
  width: 95%;
  tr{
    margin-bottom: 10px;
  }
  td{
    vertical-align: top;
  }
}

.contact_inputForm{
  margin-bottom: 15px;
  width: 55%;
}

.contact_inputForm-long{
  height: 120px;
  width: 98%;
}

.contact_table-head{
  width: 170px;
}

footer{
  background-color: $footer__bgc;
  color: $footer__fontColor;
  font-size: $footer__fontSize;
  line-height: 1em;
  min-width: pc__w;
  width: 100%;
}

.footer_inner{
  margin: -10px auto;
  padding: 10px;
  width: $pc__w;
  position: relative;
}

.footer_text-copyright{
  position: absolute;
  bottom: 10px;
  right: 10px;
}

