.header_comming{
  background-color: $header_comming__bgc;
  color: $header_comming__fontColor;
  font-size: $header_comming__fontSize;
  font-weight: normal;
  text-align: center;
}

.header_comming-em{
  font-size: $header_comming-em__fontSize;
}

.header_logo-kids{
  background-color: $g__color-kids;
}

.header_logo-future{
  background-color: $g__color-future;
}

.header_buttons-lets{
  font-size: $header_buttons-lets__fontSize;
  font-weight: 100;
  user-select: none;
}

.header_buttonInner{
  background-color: $header_button__bgc;
  &:hover{
    background-color: $header_button__bgc / 1.1;
  }
}

.header_recruit{
  font-size: $header_recruit__fontSize;
  a{
    color: $header_comming__fontColor;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
      text-decoration-color: $header_comming__fontColor;
    }
  }
}

.info_table-kids{
  color: $g__color-kids;
  font-size: $info-head__fontSize;
}

.info_table-future{
  color: $g__color-future;
  font-size: $info-head__fontSize;
}

.contact_inputForm{
  background-color: $g__bgc;
  border-radius: 3px;
  box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,.5);
  color: $g__fontColor;
  font-size:1.3em;
  padding:7px;
}

.contact_button{
  background-color: $contact_button__bgc;
  border-radius: 5px;
  cursor: pointer;
  padding: 15px 25px;
  &:hover{
    background-color: ($contact_button__bgc + $contact__bgc) / 2;

  }
}

.contact-spamBlock{
  display: none;
}
