.g-pcOnly{
  @media #{$small} {
    display: none;
  }
}

.g-smallOnly{
  @media #{$normal} {
    display: none;
  }
}

.header_comming{
  font-size: $header_comming__fontSize;
  font-weight: 200;
  text-align: center;
  @media #{$small} {
    font-size: 4vw;
    height: auto;
    letter-spacing: .1em;
  }
}

.header_comming-em{
  font-size: 1.7em;
}

.header_logo-kids{
  background-color: $g__color-kids;
}

.header_logo-future{
  background-color: $g__color-future;
}

.header_buttons-lets{
  font-size: $header_buttons-lets__fontSize;
  font-weight: 100;
  user-select: none;
}

.header_buttonInner{
  background-color: $header_button__bgc;
  &:hover{
    background-color: $header_button__bgc / 1.1;
  }
}

.header_recruit,
.header_news{
  font-size: $header_recruit__fontSize;
  margin: 0 10px;
  a{
    color: $header_comming__fontColor;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
      text-decoration-color: $header_comming__fontColor;
      img{
        opacity: .7;
      }
    }
  }
  @media #{$small} {
    display: block;
    float: left;
    font-size: 4vw;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 50%;
  }
}

.header_newsLogo{
  height: 18px;
  margin-bottom: 5px;
  margin-left: 7px;

}

.about_info-kidsIntro{
  color: $g__color-kids;
}

.about_info-introFuture{
  color: $g__color_future;
}

.info_table-kids{
  color: $g__color-kids;
  font-size: $info-head__fontSize;
}

.info_table-future{
  color: $g__color-future;
  font-size: $info-head__fontSize;
}

.contact_inputForm{
  background-color: $g__bgc;
  border-radius: 3px;
  box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,.5);
  color: $g__fontColor;
  font-size:1.3em;
  padding:7px;
}

.contact_button{
  background-color: $contact_button__bgc;
  border-radius: 5px;
  cursor: pointer;
  padding: 15px 25px;
  &:hover{
    background-color: ($contact_button__bgc + $contact__bgc) / 2;
  }
  @media #{$small} {
    display: block;
    margin: 0 auto;
    width: 60%;
  }
}

.contact-spamBlock{
  display: none;
}
